body{
	background-color: black;
	color: white;
	font-family: Helvetica, san-serif;
}
#shade:hover{
	opacity: 0.5;
}
#obscure{
	display: none;
}
#disappear{

	display: inline-block;
	text-align: center;
	position: relative;

}
#button{
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 0;
	margin-bottom: 0px;
}
h1{
	text-align: center;
}
#container{
	display: none;
	flex-direction: column;
}
#header{
	text-align: center;
	background-color: #C0C0C0
}
h2{
	text-align: center;
	border-bottom: 1px solid white;
	color: white;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}
#mylamps{
	background-color: #696969;

}
#mylamps img{
	width: 18%;
	height:20%;
	display:flex;
}

#wantedlamps{
	background-color: #808080;
	display: flex;
}
#tricks{
	background-color: #A9A9A9;
	display: flex;
	flex-direction: row;
}
#contact{
	background-color: #808080;
	flex-direction: row;
}